/* Box sizing rules */

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Remove default padding */

ul[class],
ol[class] {
    padding: 0;
}


/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}


/* Set core body defaults */

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}


/* Remove list styles on ul, ol elements with a class attribute */

ul[class],
ol[class] {
    list-style: none;
}


/* A elements that don't have a class get default styles */

a:not([class]) {
    text-decoration-skip-ink: auto;
}


/* Make images easier to work with */

img {
    max-width: 100%;
    display: block;
}


/* Natural flow and rhythm in articles by default */

article>*+* {
    margin-top: 1em;
}


/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
    font: inherit;
}


/* Remove all animations and transitions for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/*======================================================*/


/*======================================================*/


/*======================================================*/

body {
    font-family: 'Lora', Serif;
    font-size: 16px;
    background-color: #ffeede;
}

h1,
h2,
h3 {
    font-family: 'Oswald', Sans-Serif;
}

.header {
    padding: 20px;
    display: grid;
    background-color: #bd4108;
}

.primary-image {
    justify-self: center;
    border-radius: 50%;
    -webkit-box-shadow: 5px 9px 15px 12px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 5px 9px 15px 12px rgba(0, 0, 0, 0.17);
    box-shadow: 5px 9px 15px 12px rgba(0, 0, 0, 0.30);
    margin-bottom: 20px;
}

.header-text,
.intro {
    color: #ffeede;
}

p.intro {
    margin-bottom: 20px;
}

.name,
.title {
    text-align: center;
}

.title {
    margin-bottom: 12px;
}

.info-wrapper {
    padding: 20px;
}

.section-title {
    color: #bd4108;
}

.about-me,
.experience,
.skills {
    margin-bottom: 15px;
}

.position,
.employer {
    color: #282828;
    font-weight: bold;
}

p,
li {
    color: #4b4b4b;
}

.dates {
    margin-bottom: 10px;
}


/*======================================================*/


/*======================================================*/


/*======================================================*/

@media screen and (min-width: 450px) {
    .info-wrapper {
        display: grid;
        grid-template-areas: 'about about' 'exper exper' 'skills next';
        grid-template-columns: 1fr 1fr;
    }
    .about-me {
        grid-area: about;
    }
    .experience {
        grid-area: exper;
    }
    .skills {
        grid-area: skills;
    }
    .whats-next {
        grid-area: next;
    }
}


/*======================================================*/


/*======================================================*/


/*======================================================*/

@media screen and (min-width: 865px) {
    .container {
        display: grid;
        grid-template-areas: 'header info';
        grid-template-columns: 1fr 1fr;
        max-width: 1360px;
        min-height: 100vh;
        margin: auto;
    }
    .header {
        grid-area: header;
    }
    .primary-image {
        justify-self: right;
        align-self: flex-end;
    }
    .name,
    .title,
    .intro {
        text-align: right;
    }
    .info-wrapper {
        grid-area: info;
        grid-template-areas: 'exper exper' 'about about' 'skills next';
    }
}